@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic",
    "游ゴシック体", "ヒラギノ角ゴ Pro W3", "sans-serif";
  color: black;
  background-color: white;
}
a {
  text-decoration: none;
}
/* 最大幅 */
.wrapper {
  width: 100%;
  margin: 2% auto;
  padding: 0 4%;
}
/* ロゴ */
#logo {
  display: flex;
  float: left;
  justify-content: space-between;
}
/* メニュー */
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Comfortaa", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  list-style: none;
}
.menu li {
  max-width: 100%;
  padding: 5px 30px 0px 0px;
  height: 50px;
}
.menu a {
  color: #cccccc;
  transition: 0.5s;
}
.menu a:hover {
  color: #000;
}
.menu img {
  opacity: 0.5;
  transition: 0.5s;
}
.menu img:hover {
  opacity: 1;
}
.sns {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.sns li {
  max-width: 100%;
  padding: 5px 20px 0px 0px;
  height: 40px;
}
/*TOP*/
.top {
  display: flex;
  width: 100%;
  height: 700px;
}
.top img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
/*ABOUT*/
.about p {
  text-align: left;
  font-family: "Comfortaa", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(transparent 70%, #a9a9a9 0%);
  margin-top: 10px;
  margin-bottom: 10px;
}
.about p2 {
  display: block;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
}
.about p3 {
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(transparent 90%, #cccccc 0%);
}
.about p4 {
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
}
/*DESIGN*/
.design img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px #cccccc solid;
  border-radius: 3px;
  opacity: 0.5;
  transition: 0.5s;
  margin-top: 10px;
}
.design img:hover {
  border: 5px black solid;
  border-radius: 3px;
  opacity: 1;
  margin-top: 10px;
}
.design p {
  text-align: left;
  font-family: "Comfortaa", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(transparent 70%, #a9a9a9 0%);
}
.design p2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.design p3 {
  display: block;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
}
.design p4 {
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(transparent 90%, #cccccc 0%);
}
.design p5 {
  display: block;
  font-size: 16px;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-weight: bold;
}
.design p6 {
  display: block;
  font-size: 11px;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
}
.design a {
  color: black;
  font-size: small;
  transition: 0.5s;
}
.design a:hover {
  color: black;
  font-size: large;
}
/*PHOTO*/
.photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 3px #cccccc solid;
  border-radius: 3px;
  opacity: 0.5;
  transition: 0.5s;
}
.photo img:hover {
  border: 3px black solid;
  border-radius: 3px;
  opacity: 1;
}
.photo p {
  text-align: left;
  font-family: "Comfortaa", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(transparent 70%, #a9a9a9 0%);
}
.photo p2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
.photo p3 {
  display: block;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
}
.photo p4 {
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(transparent 90%, #cccccc 0%);
}
.photo p5 {
  display: block;
  font-size: 16px;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-weight: bold;
}
.photo p6 {
  display: block;
  font-size: 13px;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
}
.photo a {
  color: black;
  font-size: small;
  transition: 0.5s;
}
.photo a:hover {
  color: black;
  font-size: large;
}
/*CONTACT*/
form div {
  margin-bottom: 14px;
}
label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 16px;
  text-align: left;
}
input[type="text"],
input[type="email"],
textarea {
  background: white;
  border: 3px #cccccc solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 600px;
}
textarea {
  width: 100%;
  max-width: 900px;
  height: 10rem;
}
.button-send {
  background: #f69c9f;
  line-height: 1;
  border-radius: 5px;
  margin: 15px;
  padding: 10px 46px 10px 46px;
  color: black;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 14px;
  font-weight: bolder;
  opacity: 0.5;
  transition: 0.5s;
}
.button-send:hover {
  background: #f69c9f;
  color: black;
  opacity: 1;
}
.button-reset {
  background: #cccccc;
  line-height: 1;
  border-radius: 5px;
  margin: 15px;
  padding: 10px 30px 10px 30px;
  color: black;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 14px;
  font-weight: bolder;
  opacity: 0.5;
  transition: 0.5s;
}
.button-reset:hover {
  background: #cccccc;
  color: black;
  opacity: 1;
}
.contact p {
  text-align: left;
  font-family: "Comfortaa", sans-serif;
  font-size: 40px;
  font-weight: bolder;
  background: linear-gradient(transparent 70%, #a9a9a9 0%);
}
.contact p2 {
  display: block;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
}
.contact p3 {
  display: block;
  text-align: left;
  font-family: "Comfortaa", sans-serif, "M PLUS 1 Code", monospace;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(transparent 90%, #cccccc 0%);
}
/*グリッド*/
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 10px;
  margin-bottom: 10px;
}
/* フッター */
footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px 0;
  clear: both;
}
footer p {
  color: #000;
  font-family: "Comfortaa", sans-serif;
}
